<section class="page-section" id="competences">
    <div class="pimg3">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase"  style="color:rgba(255, 255, 255, 0.836)">Compétences</h2>
                <div class="divider"></div>
            </div>

            <ul class="honeycomb">
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell_image" src="{{ asset('images/logos/wordpress.png') }}">
                    <div class="honeycomb-cell_title">Wordpress</div>
                </li>
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell_image" src="{{ asset('images/logos/html5.png') }}">
                    <div class="honeycomb-cell_title">HTML5</div>
                </li>
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell_image" src="{{ asset('images/logos/css3.png') }}">
                    <div class="honeycomb-cell_title">CSS3</div>
                </li>
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell_image" src="{{ asset('images/logos/php.png') }}">
                    <div class="honeycomb-cell_title">PHP7</div>
                </li>
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell_image" src="{{ asset('images/logos/jquery.png') }}">
                    <div class="honeycomb-cell_title">jQuery</div>
                </li>
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell_image" src="{{ asset('images/logos/python.png') }}">
                    <div class="honeycomb-cell_title">Python</div>
                </li>
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell_image" src="{{ asset('images/logos/bootstrap.png') }}">
                    <div class="honeycomb-cell_title">Bootstrap</div>
                </li>
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell_image" src="{{ asset('images/logos/csharp.png') }}">
                    <div class="honeycomb-cell_title">C#</div>
                </li>
                <li class="honeycomb-cell honeycomb_Hidden">
                </li>
            </ul>
        </div>
    </div>
</section>