<section class="page-section" id="projet">
    <div class="pimg2">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase" style="color: #fff">Réalisations</h2>
            <div class="divider"></div>
        </div>
        <div id="sliderProjet" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="split">
                        <div class="screen" style="background: url({{ asset('images/portfolio/portfolio-1.jpg') }})"></div>
                        <div class="screen" style="background: url({{ asset('images/portfolio/portfolio-2.jpg') }})"></div>
                        <div class="screen" style="background: url({{ asset('images/portfolio/blog-1.jpg') }})"></div>
                        <div class="screen" style="background: url({{ asset('images/portfolio/LQ.jpg') }})"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="split">
                        <div class="screen" style="background: url({{ asset('images/portfolio/portfolio-1.jpg') }})"></div>
                        <div class="screen" style="background: url({{ asset('images/portfolio/portfolio-2.jpg') }})"></div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#sliderProjet" role="button" data-slide="prev">
                    <span class="color-arrow arrow-left">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#sliderProjet" role="button" data-slide="next">
                    <span class="color-arrow arrow-right">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>